<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
Software Carpentry aims to help people get their work done in less time and with less pain by teaching them basic research computing skills. 
  This introductory hands-on workshop will cover 
  basic concepts and tools, including program design, version control, data management, and task automation.
  Participants will be encouraged to help one another and interact with instructors during the workshop.
</p>
<p align="center">
  <em>
    <h2>Register for the workshop <a href="https://www.eventbrite.co.uk/e/plotting-and-programming-with-python-tickets-714717949627">here</a></h2>.
  </em>
</p> 
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
