<p id="who">
  <strong>Who:</strong>
  The course is aimed at individuals who have some (even a small amount) previous experience of coding in other languages 
  (e.g. C++, Visual Basic, Fortran, Matlab etc) and are interested in 
  learning how Python can be used. You don't need to have any previous knowledge of the tools that will be presented at the workshop.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
